<div class="d-flex justify-content-center" id="buffets">
  <div class="container">
    <% if @buffets.empty? %>
      <div class="container text-center">
        <p><strong>nenhum resultado para:</strong> <%= @query %></p>
      </div>
    <% else %>
      <div class="row mt-4">
        <% @buffets.each_with_index do |buffet, index| %>
          <div class="card m-3" style="width: 18rem;" id=<%="buffet-#{index}"%>>
            <img src="https://media.istockphoto.com/id/650655146/photo/catering-food-wedding-event-table.jpg?s=612x612&w=0&k=20&c=ATGYgW8bM_559jJ5aUNO4HlJqpkOWUmNNMMflx5kajo=" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%= buffet.company.buffet_name %></h5>
              <p class="card-text"><%= "#{buffet.city}, #{buffet.state_code}" %></p>
              <%= link_to 'Ver detalhes', buffet_path(buffet.id), class: "btn btn-dark" %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>


