<div class="container text-center">
  <h2><%= "Precificação para #{@pricing.category}" %></h2>
</div>

<div class="d-flex justify-content-center mb-4">
  <div class="container shadow rounded p-5 w-50">
    <% if @event_pricing.errors.any? %>
      <ul>
        <% @event_pricing.errors.full_messages.each do |err| %>
          <li><%= err %></li>
        <% end %>
      </ul>
    <% end %>

    <%= form_with model: @event_pricing do |f| %>
      <div>
        <%= f.label :base_price, "Preço base (#{@event.min_quorum} pessoas)", class: "form-label" %>
        <%= f.number_field :base_price, class: "form-control" %>
      </div>
      <div>
        <%= f.label :extra_person_fee, class: "form-label" %>
        <%= f.number_field :extra_person_fee, class: "form-control" %>
      </div>
      <div>
        <%= f.label :extra_hour_fee, class: "form-label" %>
        <%= f.number_field :extra_hour_fee, class: "form-control" %>
      </div>
      <%= f.hidden_field :pricing_id, value: @pricing.id %>
      <%= f.hidden_field :event_id, value: @event.id %>
      <div class="mt-3">
        <%= f.submit "Enviar", class: "btn btn-outline-dark me-2" %>
        <%= link_to 'Voltar', event_path(@event.id), class: "btn btn-outline-dark" %>
      </div>
    <% end %>
  </div>
</div>
