<div id="events">
  <div id=event-details>
    <%= link_to 'Voltar', buffet_path(@event.buffet.id) %>

    <h2><%= @event.name %></h2>

    <p><strong>Descrição do evento:</strong> <%= @event.description %></p>
    <p><strong>Quórum mínimo:</strong> <%= @event.min_quorum %></p>
    <p><strong>Quórum máximo:</strong> <%= @event.max_quorum %></p>
    <p><strong>Duração padrão do evento (min):</strong> <%= @event.standard_duration %></p>
    <p><strong>Menu do evento:</strong> <%= @event.menu %></p>
    <p><strong>Serve bebida alcoólica:</strong> <%= @event.translate @event.serve_alcohol %></p>
    <p><strong>Faz a decoração:</strong> <%= @event.translate @event.handle_decoration %></p>
    <p><strong>Serviço de estacionamento/valet:</strong> <%= @event.translate @event.valet_service %></p>
    <p><strong>Realiza evento no local do contratante:</strong> <%= @event.translate @event.flexible_location %></p>

    <%= link_to 'Editar', edit_event_path(@event.id) %>
  </div>

  <div id="pricings">
    <h2>Precificação do evento</h2>

    <% Pricing.all.each do |pricing| %>
      <div id=<%="pricing-#{pricing.id}" %>>
        <h3><%= pricing.category %></h3>

        <% if @event.event_pricings.find_by(pricing_id: pricing.id) %>
          <% event_pricing = @event.event_pricings.find_by(pricing_id: pricing.id) %>
          <p><%= "Preço base (#{@event.min_quorum} pessoas): #{number_to_currency event_pricing.base_price}"%></p>
          <p><%= "Adicional por pessoa: #{number_to_currency event_pricing.extra_person_fee}"%></p>
          <p><%= "Adicional por hora extra de evento: #{number_to_currency event_pricing.extra_hour_fee}"%></p>

          <%= link_to 'Editar', edit_event_pricing_path(event_pricing.id, pricing_id: pricing.id, event_id: @event.id) %>
        <% else %>
          <%= link_to "Configurar", new_event_pricing_path(pricing_id: pricing.id, event_id: @event.id) %>
        <% end %>
      </div>
      <hr>
    <% end %>
  </div>
</div>
