<div class="d-flex justify-content-center mb-4 mt-5">
  <div class="container shadow rounded-5 p-5 col-3">
    <h2 class="text-center">Avaliar <%= @buffet.company.buffet_name %></h2>
    <hr>

    <% if @rating.errors.any? %>
      <ul>
        <% @rating.errors.full_messages.each do |err| %>
          <li><%= err %></li>
        <% end %>
      </ul>
    <% end %>

    <%= form_with model: [@buffet, @rating] do |f| %>
      <div>
        <%= f.label :value, class:"form-label"%>
        <div class="d-flex align-items-center">
          <p class="fs-4">0</p>
          <%= f.range_field :value, class:"form-range", min:0 , max:5 %>
          <p class="fs-4">5</p>
        </div>
      </div>
      <div>
        <%= f.label :feedback, class:"form-label"%>
        <%= f.text_area :feedback, class:"form-control"%>
      </div>
      <div>
        <%= f.label :image, class:"form-label"%>
        <%= f.file_field :image, class:"form-control"%>
      </div>
      <div class= "mt-4">
        <%= f.submit "Enviar avaliação", class: "btn btn-dark me-2" %>
        <%= link_to 'Cancelar', buffet_path(@buffet.id), class: "btn btn-dark" %>
      </div>
    <% end %>
  </div>
</div>
