<% color = { "pending" => "bg-warning", "awaiting" => "bg-warning", "confirmed" => "bg-success", "canceled" => "bg-danger" } %>

<% @orders.each_with_index do |order, index| %>
  <div class="container rounded shadow p-3 w-50 my-3" id=<%= "pedido-#{index}"%>>
    <div class="col">
      <%= link_to order_path(order.id), class: "btn btn-link text-dark" do %>
        <h2>Pedido: <%= order.code %></h2>
      <% end %>
      <span class="<%= "rounded p-1 #{color[order.status]}" %>"><strong><%= t(order.status) %></strong></span>
    </div>
    <p class="ms-3">Data do evento: <%= l(order.booking_date) %></p>
  </div>
<% end %>
 

