<div class="container d-flex justify-content-center mb-5">
  <div class="rounded shadow p-5">
    <h3>Código do pedido: <%= @order.code %></h3>
    <hr>
    <p><strong>Buffet: </strong><%= @order.company.buffet_name %></p>
    <p><strong>Evento: </strong><%= @order.event_pricing.event.name %></p>
    <p><strong>Número de convidados: </strong><%= @order.predicted_guests %></p>
    <p><strong>Data do evento: </strong><%= l(@order.booking_date) %></p>
    <p><strong>Local do evento: </strong><%= @order.event_adress %></p>
    <p><strong>Detalhes do evento: </strong><%= @order.event_details %></p>
    <hr>
    <p><strong>Status do pedido: </strong><%= t(@order.status) %></p>
  </div>
</div>

