<!DOCTYPE html>
<html>
  <head>
    <title>CadeBuffet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <header>
      <nav class="navigation">
        <div id="logo-text">
          <%= link_to root_path do %>
            <h1>Cadê Buffet</h1>
          <% end %>
        </div>
        <% if company_signed_in? %>
          <div class="register-links">
            <p><%= current_company.buffet_name %></p>
            <p><%= current_company.email %></p>
            <% if current_company.buffet.present? %>
              <%= link_to 'Meu Buffet', buffet_path(current_company.buffet.id) %>
            <% end %>    
            <%= button_to 'Sair', destroy_company_session_path, method: :delete %>
          </div>
        <% else %>
          <div class="register-links">
            <%= link_to 'Empresas/Buffets', new_company_session_path %>
            <%= link_to 'Entrar', root_path %>
          </div>
        <% end %>
      </nav>
    </header>
    <hr>
    <section class="center">
      <div>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>
      </div>
    </section>
  </body>
</html>
